@import "./setup";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile-container {
    background-color: white;
    width: 30%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: hsl(0, 0%, 12%);
    padding: 5%;
    border-radius: 2%;
}

.profile-image {
    img {
        border-radius: 50%;
        width: 40%;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        bottom: 35%; 
        top: -15%;
    }

}

.profile-content {
    text-align: center;
}

.profile-content {

    h2 {
        color: white;
        position: relative;
        bottom: 10%;
        font-weight: 700;
    }
    h3 {
        color: hsl(75, 94%, 57%);
        display: block;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15%;
    }
    p {
        color: rgb(190, 190, 190);
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5%;
    }
}

ul {
    position: relative;
    text-align: center;
    justify-content: center;
    gap: 20%;
    top: 10%;
}

ul {

    li {
        list-style-type: none;
        background-color: hsl(0, 0%, 20%);
        color: white;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
       
    }
    li button {
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: hsl(0, 0%, 20%);
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        font-weight: 600;
        padding: 20px;
        border-radius: 5px;
        border: none;
      
    }
    li :hover{
        background-color: hsl(75, 94%, 57%);
        color: hsl(0, 0%, 8%);
        cursor: pointer;
        font-weight: 700;
    }
}

.attribution {

    position: relative;
    top: 5px;
    color: hsl(75, 94%, 57%) ;
    a {
        text-decoration: none;
        color: red;
    }
}